body footer.pieDePagina {
  background-color: #2B529F;
  display: flex;
  flex-direction: column;
  align-items: center; }
  body footer.pieDePagina div.cont-img-footer img.img_footer {
    margin: 1.5rem 0 1.5rem;
    height: auto;
    width: 90%;
    max-width: 340px; }
  body footer.pieDePagina div.cont_pieDePagina {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body footer.pieDePagina div.cont_pieDePagina div.form-sub p.p2-footer {
      margin-bottom: 1.5rem;
      color: #FAFAFA;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-decoration: none;
      text-align: center; }
    body footer.pieDePagina div.cont_pieDePagina div.form-sub form.form-foot {
      display: flex;
      align-items: center;
      flex-direction: column; }
      body footer.pieDePagina div.cont_pieDePagina div.form-sub form.form-foot input.input-formulario {
        padding-left: 0.7rem;
        border: 2px solid #000112;
        border-radius: 28px;
        width: 100%;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        height: 3.5rem; }
      body footer.pieDePagina div.cont_pieDePagina div.form-sub form.form-foot button.btn-send {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        height: 3.5rem;
        width: 100%;
        display: inline-block;
        border-radius: 28px;
        background-color: #F39100;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FAFAFA;
        border: #F39100 4px solid; }
    body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact p.parrafo_footer {
      margin-bottom: 1.5rem;
      color: #FAFAFA;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      text-decoration: none;
      text-align: center; }
    body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding-left: 0; }
      body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton li.link_nav_contacto {
        text-align: center;
        width: 12.5rem;
        margin-bottom: 1.5rem;
        padding: 1rem 1.5rem;
        background-color: #F39100;
        border-radius: 50px;
        display: inline-block;
        animation: link_contacto 1.5s linear infinite; }
        body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton li.link_nav_contacto .boton_contacto {
          font-family: 'Lexend';
          text-transform: uppercase;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-decoration: none;
          color: #FAFAFA; }
      body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton img.logo-redesSociales {
        margin: 0 0.5rem 0 0.5rem; }
  body footer.pieDePagina div.div-footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 1.5rem 0; }
    body footer.pieDePagina div.div-footer-links h3 {
      color: #FAFAFA;
      font-family: 'Lexend';
      font-style: normal;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      line-height: 40px;
      text-decoration: none; }
    body footer.pieDePagina div.div-footer-links a {
      color: #FAFAFA;
      font-family: 'Lexend';
      font-style: normal;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      line-height: 40px;
      text-decoration: none; }

@keyframes link_contacto {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); } }

body header {
  height: 4.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); }
  body header nav.contenedor {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; }
    body header nav.contenedor a.logo img {
      margin-left: 1.5rem;
      height: 4.5rem; }
    body header nav.contenedor div.div-boton {
      position: absolute;
      right: 1.5rem;
      top: auto; }
    body header nav.contenedor div button.estilo_boton_navbar img {
      width: 3.5rem; }
    body header nav.contenedor div.estilo_recuadro_offcanvas {
      max-width: 83%;
      background-color: #FAFAFA; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-header {
        display: inline-block; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-header .boton-close {
          background: transparent; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav {
          margin-top: 3rem;
          align-items: center; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item {
            margin-bottom: 3rem; }
            body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item a.link_nav {
              font-family: 'Lexend';
              font-style: normal;
              font-size: 20px;
              line-height: 25px;
              text-transform: uppercase;
              letter-spacing: 0.02em;
              font-weight: 500;
              color: #2D9ACD;
              text-decoration: none; }
            body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item .select {
              font-weight: 800 !important; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton {
          margin-top: 4.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;
          padding-left: 0; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton li.link_nav_contacto {
            text-align: center;
            width: 12.5rem;
            margin-bottom: 1.5rem;
            padding: 1rem 1.5rem;
            background-color: #F39100;
            border-radius: 50px;
            display: inline-block;
            animation: link_contacto 1.5s linear infinite; }
            body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton li.link_nav_contacto .boton_contacto {
              font-family: 'Lexend';
              text-transform: uppercase;
              font-weight: 700;
              font-size: 20px;
              line-height: 24px;
              text-decoration: none;
              color: #FAFAFA; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton img.logo-redesSociales {
            margin: 0 0.5rem 0 0.5rem; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body select.estilo_select {
          margin-top: 4.5rem; }

@keyframes link_contacto {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); } }

body main#main_index h1.titulo-index {
  margin: 1.5rem;
  color: #141956;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: center; }

body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3 {
  width: 100%;
  display: block; }

body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1-t, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2-t, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3-t {
  width: 100%;
  display: none; }

body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1-d, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2-d, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3-d {
  width: 100%;
  display: none; }

body main#main_index .subtitulos-index {
  margin: 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px; }

body main#main_index img.img-index {
  width: 100%;
  margin-bottom: 1.5rem; }

body main#main_index img.img-index-t, body main#main_index div.cont-img-index img.img-index-d {
  margin-bottom: 1.5rem;
  display: none; }

body main#main_index p.parrafo-index-d2, body main#main_index p.parrafo-index-d {
  display: none; }

body main#main_index p.parrafo-index {
  margin: 0 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px; }

body main#main_index div.cont-btn {
  display: flex;
  justify-content: center;
  margin: 1.5rem; }
  body main#main_index div.cont-btn a {
    text-decoration: none; }
    body main#main_index div.cont-btn a button.btn-index {
      padding: 1rem 1.5rem;
      display: inline-block;
      border-radius: 50px;
      background-color: #F39100;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.02em;
      color: #F1FAFF; }

body main#main_index div.cont-btn-d {
  display: none; }

body main#main_index .content-card-testimony {
  display: none; }

body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .margen1, body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .estilo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.5rem;
  height: auto;
  background: #A6E3FF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 44px; }
  body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .margen1 img.img-testimony, body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .estilo2 img.img-testimony {
    margin: 1.5rem;
    width: 13.5rem; }
  body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .margen1 .p-slide-testimony, body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .estilo2 .p-slide-testimony {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #141956;
    margin: 0 1.5rem; }
  body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .margen1 .p-slide-test-name, body main#main_index div.mySwiper div.swiper-wrapper div.swiper-slide .estilo2 .p-slide-test-name {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #141956;
    margin: 1.5rem;
    display: flex;
    align-self: end; }

body main#main-nuestrosSeguros h1.titulo-nuestrosSeguros {
  margin: 1.5rem 0;
  color: #141956;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: center; }

body main#main-nuestrosSeguros .img-seguros {
  width: 100%; }

body main#main-nuestrosSeguros .img-seguros-d {
  display: none;
  width: 100%; }

body main#main-nuestrosSeguros .img-seguros-t {
  display: none;
  width: 100%; }

body main#main-nuestrosSeguros .p-NS {
  margin: 1.5rem;
  text-align: center;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; }

body main#main-nuestrosSeguros #section-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem; }
  body main#main-nuestrosSeguros #section-cards .mycard {
    background: #2B529F;
    width: 342px;
    height: 224px;
    border-radius: 44px;
    overflow: hidden; }
    body main#main-nuestrosSeguros #section-cards .mycard .card-on {
      opacity: 100%;
      transition: 0.5s; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on {
        display: flex;
        justify-content: center;
        position: relative; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .card-img {
          display: none;
          position: absolute;
          width: 342px; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .card-img-phone {
          position: absolute;
          width: 342px; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .logo {
          position: relative;
          height: 2rem;
          top: 180px;
          margin-right: 0.5rem; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .title-card {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: #FAFAFA;
          top: 180px;
          position: relative; }
    body main#main-nuestrosSeguros #section-cards .mycard .card-off {
      opacity: 0%;
      transition: 0.3s; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off {
        display: none; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .cont-titulo {
          display: flex; }
          body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .cont-titulo .logo2 {
            margin-bottom: 1rem;
            height: 32px;
            margin-right: 0.5rem; }
          body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .cont-titulo .title-card {
            margin-bottom: 1rem;
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #FAFAFA; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .text-card {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #FAFAFA; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-btn-card {
        display: none; }
  body main#main-nuestrosSeguros #section-cards .info .card-on {
    opacity: 0%;
    transition: 0.5s; }
    body main#main-nuestrosSeguros #section-cards .info .card-on .cont-card-on {
      display: none; }
  body main#main-nuestrosSeguros #section-cards .info .card-off {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    opacity: 100%;
    transition: 0.5s; }
    body main#main-nuestrosSeguros #section-cards .info .card-off .cont-card-off {
      margin: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
    body main#main-nuestrosSeguros #section-cards .info .card-off .cont-btn-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1rem; }
      body main#main-nuestrosSeguros #section-cards .info .card-off .cont-btn-card .btn-card {
        padding: 16px 24px;
        width: 288px;
        height: 56px;
        background: #F39100;
        border-radius: 28px;
        text-align: center;
        text-decoration: none;
        font-family: 'Lexend';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FAFAFA; }

body main#main-SobreNosotros h1.h1-SN {
  margin: 1.5rem;
  color: #141956;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: center; }

body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe p.p1-SN {
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px; }
  body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe p.p1-SN2 {
    margin: 0 1.5rem 1.5rem 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px; }

body main#main-SobreNosotros h2.h2-SN {
  margin: 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px; }

body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.margenSN, body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.estilo3, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.margenSN, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.estilo3, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.margenSN, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.estilo3, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.margenSN, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.estilo3 {
  width: 200px;
  height: 260px;
  background: #A6E3FF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 24px; }
  body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1, body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1 .logo-slide, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 .logo-slide {
      width: auto;
      height: 107px; }
    body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1 .subtitulo-valores, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 .subtitulo-valores {
      margin-top: 1rem;
      font-style: normal;
      font-family: 'Lexend';
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: #141956; }
    body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw2 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.margenSN div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw1 #swiperWrapper div.swiper-slide div.estilo3 div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.margenSN div.div-slide1 .texto-valores, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.swiper-slide div.estilo3 div.div-slide1 .texto-valores {
      padding: 0 1.5rem;
      font-style: normal;
      font-family: 'Lexend';
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #141956; }

body main#main-SobreNosotros #sw2 #swiperWrapper div.sw2, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.sw2, body main#main-SobreNosotros #sw1 #swiperWrapper div.sw2, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.sw2 {
  height: 200px; }
  body main#main-SobreNosotros #sw2 #swiperWrapper div.sw2 div.div-slide-SN1, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.sw2 div.div-slide-SN1, body main#main-SobreNosotros #sw1 #swiperWrapper div.sw2 div.div-slide-SN1, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.sw2 div.div-slide-SN1 {
    width: auto;
    height: 144px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 24px; }
    body main#main-SobreNosotros #sw2 #swiperWrapper div.sw2 div.div-slide-SN1 img.img-slide2, body main#main-SobreNosotros #sw2 #swiperWrapper1 div.sw2 div.div-slide-SN1 img.img-slide2, body main#main-SobreNosotros #sw1 #swiperWrapper div.sw2 div.div-slide-SN1 img.img-slide2, body main#main-SobreNosotros #sw1 #swiperWrapper1 div.sw2 div.div-slide-SN1 img.img-slide2 {
      width: 12.5rem; }

body main#main-SobreNosotros p.p2-SN {
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px; }

body main#main-SobreNosotros p.p2-SN2 {
  margin: 0 1.5rem 1.5rem 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px; }

body main#main-SobreNosotros h2.h2-SN-2 {
  margin: 1.5rem 1.5rem 0 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px; }

body main#main-contacto h1.titulo-contacto {
  margin: 1.5rem;
  color: #141956;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: center; }

body main#main-contacto div.cont-img-contact img.img-contacto {
  width: 100%; }

body main#main-contacto div.cont-img-contact img.img-contacto-t {
  width: 100%;
  display: none; }

body main#main-contacto div.cont-img-contact img.img-contacto-d {
  width: 100%;
  display: none; }

body main#main-contacto p.p1-contacto {
  margin: 1.5rem;
  color: #000112;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; }

body main#main-contacto section ul.nav-tabs {
  border: none;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap; }
  body main#main-contacto section ul.nav-tabs li.nav-item button.button-tab {
    background: transparent;
    padding: 0 1.3rem 1rem 1.3rem;
    display: flex;
    align-items: center; }
    body main#main-contacto section ul.nav-tabs li.nav-item button.button-tab img.img-tab-content {
      width: 1.5rem;
      margin-right: 0.5rem; }
    body main#main-contacto section ul.nav-tabs li.nav-item button.button-tab a.nav-link-tab {
      display: none; }
  body main#main-contacto section ul.nav-tabs li.nav-item button.active {
    border-bottom: 4px #000112 solid; }
    body main#main-contacto section ul.nav-tabs li.nav-item button.active a.nav-link-tab {
      text-decoration: none;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: #000112;
      display: block !important; }

body main#main-contacto section div.tab-content {
  margin: 2rem 1.5rem; }
  body main#main-contacto section div.tab-content div.tab-pane form {
    display: flex;
    flex-direction: column; }
    body main#main-contacto section div.tab-content div.tab-pane form div.cont-input {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
      body main#main-contacto section div.tab-content div.tab-pane form div.cont-input label {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        color: #000112; }
      body main#main-contacto section div.tab-content div.tab-pane form div.cont-input .input-formulario, body main#main-contacto section div.tab-content div.tab-pane form div.cont-input .input-formulario2 {
        padding-left: 0.7rem;
        border: 2px solid #000112;
        border-radius: 28px;
        width: 77%;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px; }
      body main#main-contacto section div.tab-content div.tab-pane form div.cont-input .input-formulario {
        height: 3.5rem; }
    body main#main-contacto section div.tab-content div.tab-pane form div.contenedor-btn-form div.cont-btn button.btn-send {
      margin-bottom: 1.5rem;
      height: 3.5rem;
      width: 100%;
      display: inline-block;
      border-radius: 28px;
      background-color: #F39100;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FAFAFA;
      border: #F39100 4px solid; }
    body main#main-contacto section div.tab-content div.tab-pane form div.contenedor-btn-form div.cont-btn button.btn-reset {
      height: 3.5rem;
      width: 100%;
      display: inline-block;
      border-radius: 28px;
      background-color: #FAFAFA;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #F39100;
      border: #F39100 4px solid; }
  body main#main-contacto section div.tab-content div.tab-pane div.cont-telefono {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main#main-contacto section div.tab-content div.tab-pane div.cont-telefono h2.h2-contact {
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      text-align: center; }
    body main#main-contacto section div.tab-content div.tab-pane div.cont-telefono a {
      text-decoration: none;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FAFAFA;
      text-transform: uppercase; }
    body main#main-contacto section div.tab-content div.tab-pane div.cont-telefono button.btn-llamarYwsp {
      margin-top: 1.5rem;
      height: 3.5rem;
      width: 100%;
      display: inline-block;
      border-radius: 28px;
      background-color: #F39100;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FAFAFA;
      text-transform: uppercase;
      border: #F39100 4px solid; }
  body main#main-contacto section div.tab-content div.tab-pane div.cont-oficina {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main#main-contacto section div.tab-content div.tab-pane div.cont-oficina h2.h2-contact2 {
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      text-align: center; }

body main div#carouselExampleSlidesOnly div.carousel-inner {
  max-height: 448px; }
  body main div#carouselExampleSlidesOnly div.carousel-inner div.carousel-item {
    transition: transform .4s ease-in-out;
    width: 100%; }
    body main div#carouselExampleSlidesOnly div.carousel-inner div.carousel-item img {
      display: block; }

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem; }

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

div.margen1 {
  margin-left: 1rem;
  min-width: 250px;
  max-width: 296px;
  height: auto;
  object-fit: cover;
  display: block; }

img.estilo2 {
  display: block;
  margin-left: 1rem;
  min-width: 250px;
  max-width: 296px;
  height: auto;
  object-fit: cover; }

div.estilo2 {
  display: block;
  margin-left: 1rem;
  min-width: 250px;
  max-width: 296px;
  height: auto;
  object-fit: cover; }

div.estilo3 {
  width: 12.5rem;
  display: inline-block;
  object-fit: cover; }

div.margenSN {
  width: 12.5rem;
  display: inline-block;
  margin-left: 1rem;
  object-fit: cover; }

img.margen {
  margin-left: 1rem;
  min-width: 250px;
  max-width: 296px;
  height: auto;
  object-fit: cover;
  display: block; }

body header.navbar-expand-lg nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body select.estilo_select {
  width: 5.5rem;
  height: 3rem;
  padding: 0.4rem;
  border: 1px solid #6FD1FF;
  background: transparent;
  border-radius: 8px;
  font-family: 'Lexend';
  color: #2D9ACD;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px; }
  body header.navbar-expand-lg nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body select.estilo_select option.option_select {
    background: #141956; }

body {
  background-color: #FAFAFA; }

@media (min-width: 992px) {
  body header nav.contenedor {
    height: auto;
    width: 100%;
    justify-content: center; }
    body header nav.contenedor a.logo img {
      margin: 0 2rem 0 0; }
    body header nav.contenedor div.estilo_recuadro_offcanvas {
      flex-grow: 0 !important; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-header {
        display: none; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body {
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav {
          margin-top: 0; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item {
            margin: 0 0.7rem;
            margin-bottom: 0; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton {
          margin: 0 1rem 0 2rem; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton li.link_nav_contacto {
            margin-bottom: 0; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton div {
            display: none; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body select.estilo_select {
          margin-top: 0; } }

@media (min-width: 500px) {
  body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3 {
    display: none; }
  body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1-t, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2-t, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3-t {
    display: block; } }

@media (min-width: 768px) {
  body main#main_index h1.titulo-index {
    margin: 2rem;
    color: #141956;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; }
  body main#main_index img.img-index-t {
    width: 100%;
    display: inline; }
  body main#main_index .subtitulos-index {
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px; }
  body main#main_index img.img-index {
    display: none; }
  body main#main_index .subtitulos-index, body main#main_index p.parrafo-index {
    margin: 1.5rem 3.5rem; }
  body main#main_index p.parrafo-index {
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px; }
  body main#main-nuestrosSeguros h1.titulo-nuestrosSeguros {
    margin: 2rem;
    color: #141956;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; }
  body main#main-nuestrosSeguros .img-seguros {
    display: none; }
  body main#main-nuestrosSeguros .img-seguros-t {
    display: inline; }
  body main#main-nuestrosSeguros .p-NS {
    line-height: 36px; }
  body main#main-SobreNosotros h1.h1-SN {
    margin: 2rem;
    color: #141956;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; }
  body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe p.p1-SN {
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px; }
  body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe p.p1-SN2 {
    margin: 0 1.5rem 1.5rem 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px; }
  body main#main-SobreNosotros p.p2-SN {
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px; }
  body main#main-SobreNosotros p.p2-SN2 {
    margin: 0 1.5rem 1.5rem 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px; }
  body main#main-SobreNosotros h2.h2-SN {
    margin: 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px; }
  body main#main-SobreNosotros h2.h2-SN-2 {
    margin: 1.5rem 1.5rem 0 1.5rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px; }
  body main#main-contacto h1.titulo-contacto {
    margin: 2rem;
    color: #141956;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; }
  body main#main-contacto div.cont-img-contact {
    display: flex; }
    body main#main-contacto div.cont-img-contact img.img-contacto {
      display: none; }
    body main#main-contacto div.cont-img-contact img.img-contacto-t {
      width: 50%;
      display: inline; }
  body main#main-contacto p.p1-contacto {
    margin: 1.5rem 3.5rem;
    text-align: center;
    line-height: 36px; }
  body main#main-contacto section ul.nav-tabs li.nav-item button.button-tab a.nav-link-tab {
    text-decoration: none;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #000112;
    display: block; }
  body main#main-contacto section ul.nav-tabs li.nav-item button.active a.nav-link-tab {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #000112; }
  body main#main-contacto section div.tab-content div.tab-pane form div.cont-input {
    justify-content: space-around; }
    body main#main-contacto section div.tab-content div.tab-pane form div.cont-input label {
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;
      color: #000112; }
  body main#main-contacto section div.tab-content div.tab-pane form div.contenedor-btn-form {
    display: flex;
    justify-content: flex-end; }
    body main#main-contacto section div.tab-content div.tab-pane form div.contenedor-btn-form div.cont-btn {
      width: 77%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      margin-right: 2.5rem; }
      body main#main-contacto section div.tab-content div.tab-pane form div.contenedor-btn-form div.cont-btn button.btn-send {
        width: 60%;
        margin-left: 1.5rem; }
      body main#main-contacto section div.tab-content div.tab-pane form div.contenedor-btn-form div.cont-btn button.btn-reset {
        width: 40%; }
  body footer.pieDePagina div.cont-img-footer {
    width: 90%;
    display: flex;
    justify-content: flex-start; }
  body footer.pieDePagina div.cont_pieDePagina {
    width: 90%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; }
    body footer.pieDePagina div.cont_pieDePagina div.form-sub {
      display: flex;
      flex-direction: column; }
      body footer.pieDePagina div.cont_pieDePagina div.form-sub p.p2-footer {
        text-align: start;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
      body footer.pieDePagina div.cont_pieDePagina div.form-sub form.form-foot button.btn-send {
        margin-bottom: 0; }
    body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact p.parrafo_footer {
        margin-bottom: 0;
        text-align: end; }
      body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton {
        margin-bottom: 0; }
        body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton li.link_nav_contacto {
          margin-bottom: 1rem; }
  body footer.pieDePagina div.div-footer-links {
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    body footer.pieDePagina div.div-footer-links h3 {
      margin: 0; }
    body footer.pieDePagina div.div-footer-links a {
      line-height: 20px;
      margin-left: 0.25rem;
      padding-left: 0.25rem;
      border-left: 1px solid white; } }

@media (min-width: 773px) {
  body main#main-nuestrosSeguros #section-cards {
    margin: 1.5rem; }
    body main#main-nuestrosSeguros #section-cards .mycard {
      height: 342px; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .card-img {
        display: block;
        position: absolute;
        width: 342px; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .card-img-phone {
        display: none; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .logo {
        top: 285px; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-on .cont-card-on .title-card {
        top: 285px; }
      body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .cont-titulo {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .cont-titulo .logo2 {
          margin-bottom: 1rem;
          width: auto;
          height: 92px;
          margin-right: 0.5rem; }
        body main#main-nuestrosSeguros #section-cards .mycard .card-off .cont-card-off .cont-titulo .title-card {
          margin-bottom: 1rem; } }

@media (min-width: 900px) {
  body main#main-contacto div.cont-img-contact {
    display: flex; }
    body main#main-contacto div.cont-img-contact img.img-contacto-d {
      display: inline; }
    body main#main-contacto div.cont-img-contact img.img-contacto-t {
      display: none; } }

@media (min-width: 1024px) {
  body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1-t, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2-t, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3-t {
    display: none; }
  body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-1-d, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-2-d, body main#main_index div#carouselExampleRide div.carousel-inner div.carousel-item img.img-3-d {
    display: block; }
  body main#main_index .subtitulos-index {
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px; }
  body main#main_index .subtitulos-index, body main#main_index p.parrafo-index {
    margin: 3rem 9.75rem; }
  body main#main_index p.parrafo-index {
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px; }
  body main#main_index .mySwiper {
    display: none; }
  body main#main_index #testimony-content {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem; }
    body main#main_index #testimony-content .content-card-testimony {
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem; }
      body main#main_index #testimony-content .content-card-testimony .card-testimony {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22.5rem;
        height: auto;
        background: #A6E3FF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        border-radius: 44px; }
        body main#main_index #testimony-content .content-card-testimony .card-testimony img.img-testimony {
          margin: 1.5rem;
          width: 13.5rem; }
        body main#main_index #testimony-content .content-card-testimony .card-testimony .p-slide-testimony {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          color: #141956;
          margin: 0 1.5rem; }
        body main#main_index #testimony-content .content-card-testimony .card-testimony .p-slide-test-name {
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 24px;
          color: #141956;
          margin: 1.5rem;
          display: flex;
          align-self: end; }
  body main#main-SobreNosotros h1.h1-SN {
    margin: 2rem;
    color: #141956;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; }
  body main#main-SobreNosotros div.cont-sobre-nosotros-iframe {
    display: flex;
    justify-content: center; }
    body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 90%; }
      body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText iframe {
        width: 40rem;
        height: 25rem; }
      body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe {
        width: 40%; }
        body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe p.p1-SN {
          margin: 1.5rem 1.5rem 0.5rem 1.5rem;
          color: #000112;
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 40px; }
        body main#main-SobreNosotros div.cont-sobre-nosotros-iframe div#cont-iframeYText div.text-iframe p.p1-SN2 {
          margin: 0 1.5rem 1.5rem 1.5rem;
          color: #000112;
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 40px; }
  body main#main-SobreNosotros p.p2-SN {
    margin: 1.5rem 6rem 0.5rem 6rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px; }
  body main#main-SobreNosotros p.p2-SN2 {
    margin: 0 6rem 1.5rem 6rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px; }
  body main#main-SobreNosotros h2.h2-SN {
    margin: 1.5rem 6rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px; }
  body main#main-SobreNosotros h2.h2-SN-2 {
    margin: 1.5rem 6rem 0 6rem;
    color: #000112;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px; }
  body main#main-nuestrosSeguros h1.titulo-nuestrosSeguros {
    font-size: 40px;
    line-height: 56px; }
  body main#main-nuestrosSeguros .img-seguros-d {
    display: inline; }
  body main#main-nuestrosSeguros .img-seguros-t {
    display: none; }
  body main#main-nuestrosSeguros .p-NS {
    font-size: 32px;
    line-height: 48px; }
  body main#main-contacto h1.titulo-contacto {
    color: #141956;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center; }
  body main#main-contacto div.cont-img-contact {
    display: flex; }
    body main#main-contacto div.cont-img-contact img.img-contacto-d {
      display: inline; }
    body main#main-contacto div.cont-img-contact img.img-contacto-t {
      display: none; }
  body main#main-contacto p.p1-contacto {
    font-size: 32px;
    line-height: 48px; }
  body main#main-contacto section ul.nav-tabs {
    justify-content: center; }
    body main#main-contacto section ul.nav-tabs li.nav-item button.button-tab {
      padding: 0 5rem 1rem 5rem; }
      body main#main-contacto section ul.nav-tabs li.nav-item button.button-tab a.nav-link-tab {
        font-size: 32px; }
    body main#main-contacto section ul.nav-tabs li.nav-item button.active {
      padding: 0 5rem 1rem 5rem; }
      body main#main-contacto section ul.nav-tabs li.nav-item button.active a.nav-link-tab {
        font-size: 32px; }
  body main#main-contacto section div.tab-content div.tab-pane div.cont-telefono h2.h2-contact {
    font-size: 40px; }
  body main#main-contacto section div.tab-content div.tab-pane div.cont-telefono button.btn-llamarYwsp {
    width: 35rem; }
  body main#main-contacto section div.tab-content div.tab-pane div.cont-oficina iframe {
    width: 38rem;
    height: 30rem; }
  body footer.pieDePagina div.cont_pieDePagina div.form-sub {
    justify-content: center; }
    body footer.pieDePagina div.cont_pieDePagina div.form-sub p.p2-footer {
      font-size: 20px;
      line-height: 28px;
      text-align: center; }
    body footer.pieDePagina div.cont_pieDePagina div.form-sub form.form-foot input.input-formulario {
      width: 455px; }
    body footer.pieDePagina div.cont_pieDePagina div.form-sub form.form-foot button.btn-send {
      width: 455px;
      margin-bottom: 0; }
  body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact p.parrafo_footer {
      font-size: 24px;
      line-height: 40px; }
    body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton {
      margin-bottom: 0; }
      body footer.pieDePagina div.cont_pieDePagina div.div-footer-contact ul.ul-boton li.link_nav_contacto {
        margin-bottom: 1rem; }
  body footer.pieDePagina div.div-footer-links {
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    body footer.pieDePagina div.div-footer-links h3 {
      font-size: 18px;
      line-height: 32px; }
    body footer.pieDePagina div.div-footer-links a {
      font-size: 18px;
      line-height: 32px; } }

@media (min-width: 1300px) {
  body main#main_index p.parrafo-index {
    display: none; }
  body main#main_index div.cont-btn {
    display: none; }
  body main#main_index div.cont-img-index {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main#main_index div.cont-img-index img.img-index-d {
      position: relative;
      z-index: -1;
      width: 80%;
      max-width: 85rem;
      display: block; }
    body main#main_index div.cont-img-index .cont-parrafos-index-d {
      position: absolute;
      width: 75%;
      max-width: 80rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      body main#main_index div.cont-img-index .cont-parrafos-index-d p.parrafo-index-d {
        margin-top: 1rem;
        width: 35%;
        display: inline;
        color: #000112;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px; }
      body main#main_index div.cont-img-index .cont-parrafos-index-d p.parrafo-index-d2 {
        width: 35%;
        display: inline;
        color: #000112;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px; }
      body main#main_index div.cont-img-index .cont-parrafos-index-d div.cont-btn-d {
        display: flex;
        justify-content: center;
        margin: 1.5rem; }
        body main#main_index div.cont-img-index .cont-parrafos-index-d div.cont-btn-d a {
          text-decoration: none; }
          body main#main_index div.cont-img-index .cont-parrafos-index-d div.cont-btn-d a button.btn-index {
            padding: 1rem 1.5rem;
            display: inline-block;
            border-radius: 50px;
            background-color: #F39100;
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.02em;
            color: #F1FAFF; }
  body main#main_index img.img-index-t {
    display: none; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }
