@media (min-width: 992px) {
  body header.navbar {
    justify-content: space-around; }
    body header.navbar nav div.offcanvas-lg div.offcanvas-body {
      justify-content: center; } }

body footer.pieDePagina {
  background-color: #7B7B7B; }
  body footer.pieDePagina div.cont_pieDePagina {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body footer.pieDePagina div.cont_pieDePagina img.img_footer {
      margin: 1.5rem 0 1.5rem;
      height: 4.5rem; }
    body footer.pieDePagina div.cont_pieDePagina p.parrafo_footer {
      margin-bottom: 1.5rem;
      color: #F1FAFF;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      text-decoration: none; }
    body footer.pieDePagina div.cont_pieDePagina ul.ul-boton {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding-left: 0; }
      body footer.pieDePagina div.cont_pieDePagina ul.ul-boton li.link_nav_contacto {
        margin-bottom: 1.5rem;
        display: inline-block;
        padding: 1rem 1.5rem;
        background: linear-gradient(180deg, #F39100 0%, #FFFFFF 188.39%);
        border-radius: 50px;
        animation: link_contacto 1.5s linear infinite; }
        body footer.pieDePagina div.cont_pieDePagina ul.ul-boton li.link_nav_contacto .boton_contacto {
          font-family: 'Lexend';
          text-transform: uppercase;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-decoration: none;
          color: #000112; }
      body footer.pieDePagina div.cont_pieDePagina ul.ul-boton img.logo-redesSociales {
        margin: 0 0.5rem 0 0.5rem; }
    body footer.pieDePagina div.cont_pieDePagina ul.ul-footer {
      padding: 0;
      margin: 1.5rem 0; }
      body footer.pieDePagina div.cont_pieDePagina ul.ul-footer li, body footer.pieDePagina div.cont_pieDePagina ul.ul-footer a {
        text-align: center;
        color: #F1FAFF;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        text-decoration: none; }

@keyframes link_contacto {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); } }

body header {
  height: 3.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #179BD0; }
  body header nav.contenedor {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; }
    body header nav.contenedor a.logo img {
      margin-left: 1.5rem;
      height: 3.5rem; }
    body header nav.contenedor div.div-boton {
      position: absolute;
      right: 1.5rem;
      top: auto; }
    body header nav.contenedor div button.estilo_boton_navbar img {
      width: 3rem; }
    body header nav.contenedor div.estilo_recuadro_offcanvas {
      max-width: 83%;
      background-color: #179BD0; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-header {
        display: inline-block; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-header .boton-close {
          background: transparent; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav {
        margin-top: calc( 13.20rem - 88px);
        align-items: center; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item {
          margin-bottom: 3.75rem; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item a.link_nav {
            font-family: 'Lexend';
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            font-weight: 500;
            color: #F1FAFF;
            text-decoration: none; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.navbar-nav li.nav-item .select {
            font-weight: 800 !important; }
      body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton {
        margin-top: 8.20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding-left: 0; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton li.link_nav_contacto {
          margin-bottom: 1.5rem;
          display: inline-block;
          padding: 1rem 1.5rem;
          background: linear-gradient(180deg, #F39100 0%, #FFFFFF 188.39%);
          border-radius: 50px;
          animation: link_contacto 1.5s linear infinite; }
          body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton li.link_nav_contacto .boton_contacto {
            font-family: 'Lexend';
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-decoration: none;
            color: #000112; }
        body header nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body ul.ul-boton img.logo-redesSociales {
          margin: 0 0.5rem 0 0.5rem; }

@keyframes link_contacto {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }
