@import "utilities/footer";
@import "utilities/header";
@import "utilities/variables";
@import "utilities/index";
@import "utilities/nuestrosSeguros";
@import "utilities/sobre-nosotros";
@import "utilities/contacto";
@import "utilities/polDePriv";
@import "utilities/carrousel";
@import "utilities/slide";
@import "utilities/selector";
@import "utilities/mq";
@import "utilities/wsp-chat";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

html body::-webkit-scrollbar {
	width: 10px; 
}

html body::-webkit-scrollbar-track {
	background: $color-blanco; 
}

html body::-webkit-scrollbar-thumb {
	background-color: $color-boton-resaltado;
	border-radius: 10px;
}