@import "utilities/footer";
@import "utilities/header";
@import "utilities/variables";
@import "utilities/index";
@import "utilities/nuestrosSeguros";
@import "utilities/sobre-nosotros";
@import "utilities/contacto";
@import "utilities/carrousel";
@import "utilities/slide";
@import "utilities/selector";
@import "utilities/mq";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}