body {
    main {
        div#carouselExampleSlidesOnly {
            div.carousel-inner {
                max-height: 600px;
                div.carousel-item {
                    transition: transform .4s ease-in-out;
                    width: 100%;
                    img.d-block {
                        width: 100%;
                    }
                }
            }
        }
    }
}