@import "variables";

body footer.pieDePagina {
    background-color: $color-fondo-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cont-footer {
        div.cont-img-footer {
            display: flex;
            justify-content: center;
            img.img_footer {
                margin: 1.5rem 0 1.5rem;
                height: auto;
                width: 90%;
                max-width: 340px;
            }
        }
        div.cont_pieDePagina {
            display: flex;
            flex-direction: column;
            align-items: center;
            div.form-sub {
                margin: 0 1.5rem;
                p.p2-footer {
                    margin-bottom: 1.5rem;
                    @include estilo-texto-footer (16px, 28px);
                }
                form.form-foot {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    input.input-formulario{
                        padding-left: 0.7rem;
                        border: 2px solid $color-negro;
                        border-radius: 28px;
                        width: 100%;
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 36px;
                        height: 3.5rem;
                    }
                    button.btn-send {
                        margin-top: 1rem;
                        margin-bottom: 1.5rem;
                        @include boton-sendYreset ($color-boton-resaltado, $color-blanco);
                    }
                }
            }
            div.div-footer-contact {
                margin: 0 1.5rem;
                p.parrafo_footer {
                    margin-bottom: 1.5rem;
                    @include estilo-texto-footer (20px, 40px);
                }
                ul.ul-boton {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    list-style: none;
                    padding-left: 0;
                    li.link_nav_contacto {
                        @include boton_contacto_animated;
                        .boton_contacto {
                            @include link-contact;
                        }
                    }
                    a.link-redes-sociales {
                        text-decoration: none;
                        img.logo-redesSociales {
                            margin: 0 0.5rem 0 0.5rem;
                        }
                    }
                }
            }
        }
        div.div-footer-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 1.5rem 0;
            a.link-pol-de-priv h3 {
                @include estilo-link-footer;
            }
            a.links-footer, a.link-pol-de-priv {
                @include estilo-link-footer;
            }
        }
        .boost-link {
            text-align: center;
            @include estilo-link-footer;
            a {
                color: $color-blanco;
            }
        }
    }
}


@keyframes link_contacto {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}