@import "variables";

body header {
    height: 4.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color-principal-header;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    nav.contenedor {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        a.logo {
            img {
                margin-left: 1.5rem;
                height: 4.5rem;
            }
        }
        div.div-boton {
        position: absolute;
        right: 1.5rem;
        top: auto;
        }
        div button.estilo_boton_navbar {
            img {
                width: 3.5rem;
            }
        }
        div.estilo_recuadro_offcanvas {
            max-width: 83%;
            background-color: $color-principal-header;
            div.offcanvas-header {
                display: inline-block;
                padding: 1rem 0 0 1rem;
                .boton-close {
                    background: transparent;
                }
            }
            div.offcanvas-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                ul.navbar-nav {
                    align-items: center;
                    li.nav-item {
                        margin-bottom: 3rem;
                        a.link_nav {
                            @include link-nav ;
                        }
                        .select {
                            font-weight: 800 !important;
                        }
                    }
                }
                .cont-ulbotonYlngSelector {
                    ul.ul-boton {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        list-style: none;
                        padding-left: 0;
                        li.link_nav_contacto {
                            @include boton_contacto_animated;
                            .boton_contacto {
                                @include link-contact;
                            }
                        }
                        img.logo-redesSociales {
                            margin: 0 0.5rem 0 0.5rem;
                        }
                    }
                }
            }
        }
    } 
} 
@keyframes link_contacto {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}