@import "variables";

body {
    main#main_index {
        h1.titulo-index {
            margin: 1.5rem;
            @include titulos(26px, 40px);
        }
        div#carouselExampleRide div.carousel-inner {
            div.carousel-item {
                img.img-1, img.img-2, img.img-3 {
                    width: 100%;
                    display: block;
                }
                img.img-1-t, img.img-2-t, img.img-3-t {
                    width: 100%;
                    display: none;
                }
                img.img-1-d, img.img-2-d, img.img-3-d {
                    width: 100%;
                    display: none;
                }
            }
        }
        .subtitulos-index {
            margin: 1.5rem;
            @include subtitulos (700, 22px, 32px);
        }
        img.img-index {
            width: 100%;
            margin-bottom: 1.5rem;
        }
        img.img-index-t, div.cont-img-index img.img-index-d {
            margin-bottom: 1.5rem;
            display: none;
        }
        p.parrafo-index-d2, p.parrafo-index-d {
            display: none;
        }
        p.parrafo-index {
            margin: 0 1.5rem;
            @include parrafos (16px, 30px);
        }
        div.cont-btn {
            display: flex;
            justify-content: center;
            margin: 1.5rem;
            a {
                text-decoration: none;
                button.btn-index {
                    @include boton;
                }
            }
        }
        div.cont-btn-d {
            display: none;
        }
        .content-card-testimony {
            display: none;
        }
        div.mySwiper {
            div.swiper-wrapper {
                div.swiper-slide {
                    .margen1, .estilo2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 18.5rem;
                        height: auto;
                        background: $color-slide;
                        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
                        border-radius: 44px;
                        // img.img-testimony {
                        //     margin: 1.5rem;
                        //     width: 13.5rem;
                        // }
                        .p-slide-testimony {
                            @include p-slide-testimonio;
                            margin: 1.5rem;
                            height: 23rem;
                        }
                        .p-slide-test-name {
                            @include p-slide-test-name;
                            margin: 3.5rem 0 1rem;
                            height: 3rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}