@import "variables";

body {
    main#main_index {
        h1.titulo-index {
            margin: 1.5rem;
            @include titulos;
        }
        .subtitulos-index {
            margin: 1.5rem;
            @include subtitulos (700, 32px);
        }
        img.img-index {
            width: 100%;
        }
        p.parrafo-index {
            margin: 1.5rem;
            @include parrafos;
        }
        div.cont-btn {
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                button.btn-index {
                    @include boton;
                }
            }
        }
    }
}