@import "variables";
body {
	background-color: $color-blanco;
}
$tablet-s: 500px;
$tablet: 768px;
$laptop-s: 900px;
$laptop: 1024px;
$nav-bar-break: 992px;
//ENCABEZADO
@media (min-width: $nav-bar-break) {
    body header {
        nav.contenedor {
            height: auto;
            width: 100%;
            margin: 0 3.5rem;
            a.logo {
                img {
                    margin: 0 2rem 0 0;
                }
            }
            div.estilo_recuadro_offcanvas {
                flex-grow: 0 !important;
                div.offcanvas-header {
                    display: none;
                }
                div.offcanvas-body {
                    flex-direction: row;
                    align-items: center;
                    ul.navbar-nav {
                        margin-top: 0;
                        li.nav-item {
                            margin: 0 0.7rem;
                            margin-bottom: 0;
                        }
                    }
                    .cont-ulbotonYlngSelector {
                        display: flex;
                        align-items: center;
                        ul.ul-boton {
                            margin: 0 1rem 0 2rem;
                            li.link_nav_contacto {
                                margin-bottom: 0;
                            }
                            div {
                                display: none;
                            }
                        }
                        select.estilo_select {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $tablet-s) {
    body {
        //CAROUSEL INDEX
        main#main_index {
            div#carouselExampleRide div.carousel-inner div.carousel-item {
                img.img-1, img.img-2, img.img-3 {
                    display: none;
                }
                img.img-1-t, img.img-2-t, img.img-3-t {
                    display: block;
                }
            }
        }
    }
}
@media (min-width: $tablet) {
    body {
        //index
        main#main_index {
            h1.titulo-index {
                margin: 2rem;
                @include titulos(36px, 44px);
            }
            img.img-index-t {
                width: 100%;
                display: inline;
            }
            .subtitulos-index {
                @include subtitulos (700, 28px, 40px);
            }
            img.img-index {
                display: none;
            }
            .subtitulos-index, p.parrafo-index {
                margin: 1.5rem 3.5rem;
            }
            p.parrafo-index {
                @include parrafos (20px, 36px);
            }
            .mySwiper {
                margin: 0 1rem 1.5rem;
                width: calc(100vw - 3rem);
                overflow: hidden;
                div.swiper-wrapper {
                    div.swiper-slide {
                        .margen1, .estilo2 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 25.5rem;
                            height: auto;
                            background: $color-slide;
                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
                            border-radius: 44px;
                        }
                    }
                }
            }
        }
        //SEGUROS
        main#main-nuestrosSeguros {
            h1.titulo-nuestrosSeguros {
                margin: 2rem;
                @include titulos(36px, 44px);
            }
            .img-seguros {
                display: none;
            }
            .img-seguros-t {
                display: inline;
                margin-bottom: 1.5rem;
            }
            .p-NS{
                line-height: 36px;
            }
        }
        //SOBRE NOSOTROS
        main#main-SobreNosotros {
            h1.h1-SN {
                margin: 2rem;
                @include titulos(36px, 44px);
            }
            div.cont-sobre-nosotros-iframe {
                div#cont-iframeYText {
                    div.text-iframe {
                        p.p1-SN {
                            margin: 1.5rem 1.5rem 0.5rem 1.5rem;
                            @include parrafos (20px, 36px);
                        }
                        p.p1-SN2 {
                            margin: 0 1.5rem 1.5rem 1.5rem;
                            @include parrafos (20px, 36px);
                        }
                    }
                }
            }
            p.p2-SN {
                margin: 1.5rem 1.5rem 0.5rem 1.5rem;
                @include parrafos (20px, 36px);
            }
            p.p2-SN2 {
                margin: 0 1.5rem 1.5rem 1.5rem;
                @include parrafos (20px, 36px);
            }
            h2.h2-SN {
                margin: 1.5rem;
                @include subtitulos (700, 28px, 40px);
            }
            h2.h2-SN-2 {
                margin: 1.5rem 1.5rem 0 1.5rem;
                @include subtitulos (700, 28px, 40px);
            }
        } 
        //contacto
        main#main-contacto {
            h1.titulo-contacto {
                margin: 2rem;
                @include titulos(36px, 44px);
            }
            div.cont-img-contact {
                display: flex;
                img.img-contacto {
                    display: none;
                }
                img.img-contacto-t {
                    width: 50%;
                    display: inline;
                }
            }
            p.p1-contacto {
                margin: 1.5rem 3.5rem 0;
                text-align: center;
                line-height: 36px;
            }
            p.p2-contacto {
                margin:0 3.5rem 1.5rem;
                text-align: center;
                line-height: 36px;
            }
            section {
                ul.nav-tabs li.nav-item {
                    button.button-tab {
                        a.nav-link-tab {
                            text-decoration: none;
                            @include links-tab-content (28px, 400);
                            display: block;
                        }
                    }
                    button.active {
                        a.nav-link-tab {
                            @include links-tab-content (28px, 700);
                        }
                    }
                }
                div.tab-content div.tab-pane form {
                    div.cont-input {
                        justify-content: space-around;
                        label {
                            @include label-form (18px);
                        }
                    }
                    div.contenedor-btn-form {
                        display: flex;
                        justify-content: flex-end;
                        div.cont-btn {
                            width: 77%;
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: flex-start;
                            margin-right: 2.5rem;
                            button.btn-send {
                                width: 60%;
                                margin-left: 1.5rem;
                            }
                            button.btn-reset {
                                width:40%;
                            }
                        }
                    }
                }
            }
        }
        //footer
        footer.pieDePagina {
            .cont-footer {
                margin: 0 3.5rem;
                div.cont-img-footer {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                }
                div.cont_pieDePagina {
                    width: 100%;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;
                    div.form-sub {
                        // margin-right: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        p.p2-footer {
                            text-align: start;
                            margin-top: 0.5rem;
                            margin-bottom: 1rem;
                        }
                        form.form-foot {
                            button.btn-send {
                                margin-bottom: 0;
                            }
                        }
                    }
                    div.div-footer-contact {
                        margin-left: 1.5rem;
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        p.parrafo_footer {
                            margin-bottom: 0;
                            text-align: end;
                        }
                        ul.ul-boton {
                            margin-bottom: 0;
                            li.link_nav_contacto {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
                div.div-footer-links {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    a.link-pol-de-priv h3 {
                        margin: 0;
                    }
                    a.links-footer {
                        line-height: 20px;
                        margin-left: 0.25rem;
                        padding-left: 0.25rem;
                        border-left: 1px solid white;
                    }
                }
            }
        }
        main#main-pol-de-priv {
            margin: 1.5rem 2rem;
        }
    }
}
@media (min-width: 773px) {
    body {
        //SEGUROS
        main#main-nuestrosSeguros {
            #section-cards {
                margin: 1.5rem;
                .mycard {
                    height: 342px;
                    .card-on {
                        .cont-card-on {
                            .card-img {
                                display: block;
                                position: absolute;
                                width: 342px;
                            }
                            .card-img-phone {
                                display: none;
                            }
                            .logo {
                                top: 285px;
                            }
                            .title-card {
                                top: 285px;
                            }
                        }
                    }
                    .card-off {
                        .cont-card-off {
                            .cont-titulo {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .logo2 {
                                    margin-bottom: 1rem;
                                    width: auto;
                                    height: 92px;
                                    margin-right: 0.5rem;
                                }
                                .title-card {
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $laptop-s) {
    body {
        //contacto
        main#main-contacto {
            div.cont-img-contact {
                display: flex;
                img.img-contacto-d {
                    display: inline;
                }
                img.img-contacto-t {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: $laptop) {
    body {
        //index
        main#main_index {
            div#carouselExampleRide {
                div.carousel-inner div.carousel-item {
                    img.img-1-t, img.img-2-t, img.img-3-t {
                        display: none;
                    }
                    img.img-1-d, img.img-2-d, img.img-3-d {
                        display: block;
                    }
                }
            }
            .subtitulos-index {
                @include subtitulos (700, 32px, 40px);
            }
            .subtitulos-index, p.parrafo-index {
                margin: 3rem 3.5rem;
            }
            p.parrafo-index {
                @include parrafos (24px, 40px);
            }
            .mySwiper {
                margin: 0 3.5rem 1.5rem;
                width: calc(100vw - 7rem);
                overflow: hidden;
            }
        }
        //SOBRE NOSOTROS
        main#main-SobreNosotros {
            h1.h1-SN {
                margin: 2rem;
                @include titulos(36px, 44px);
            }
            div.cont-sobre-nosotros-iframe {
                display: flex;
                justify-content: center;
                div#cont-iframeYText {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 90%;
                    iframe {
                        width: 40rem;
                        height: 25rem;
                    }
                    div.text-iframe {
                        width: 40%;
                        p.p1-SN {
                            margin: 1.5rem 1.5rem 0.5rem 1.5rem;
                            @include parrafos (24px, 40px);
                        }
                        p.p1-SN2 {
                            margin: 0 1.5rem 1.5rem 1.5rem;
                            @include parrafos (24px, 40px);
                        }
                    }
                }
            }
            p.p2-SN {
                margin: 1.5rem 6rem 0.5rem 6rem;
                @include parrafos (24px, 40px);
            }
            p.p2-SN2 {
                margin: 0 6rem 1.5rem 6rem;
                @include parrafos (24px, 40px);
            }
            h2.h2-SN {
                margin: 1.5rem 6rem;
                @include subtitulos (700, 32px, 40px);
            }
            h2.h2-SN-2 {
                margin: 1.5rem 6rem 0 6rem;
                @include subtitulos (700, 32px, 40px);
            }
            #sw2, #sw1{
                margin: 0 6rem 0 6rem;
                width: calc(100vw - 14rem);
                overflow: hidden;
            }
        }
        //SEGUROS
        main#main-nuestrosSeguros {
            h1.titulo-nuestrosSeguros {
                font-size: 40px;
                line-height: 56px;
            }
            .img-seguros-d {
                display: inline;
                margin-bottom: 1.5rem;
            }
            .img-seguros-t {
                display: none;
            }
            .p-NS{
                font-size: 28px;
                line-height: 48px;
                margin: 0 4rem;
            }
        }
        //contacto
        main#main-contacto {
            h1.titulo-contacto {
                @include titulos(40px, 56px);
            }
            div.cont-img-contact {
                display: flex;
                img.img-contacto-d {
                    display: inline;
                }
                img.img-contacto-t {
                    display: none;
                }
            }
            p.p1-contacto, p.p2-contacto {
                font-size: 32px;
                line-height: 48px;
            }
            section {
                ul.nav-tabs {
                    justify-content: center;
                    li.nav-item {
                        button.button-tab {
                            padding: 0 5rem 1rem 5rem;
                            a.nav-link-tab {
                                font-size: 32px;
                            }
                        }
                        button.active {
                            padding: 0 5rem 1rem 5rem;
                            a.nav-link-tab {
                                font-size: 32px;
                            }
                        }
                    }
                }
                div.tab-content {
                    div.tab-pane {
                        div.cont-telefono {
                            h2.h2-contact {
                                font-size: 40px;
                            }
                            button.btn-llamarYwsp {
                                width: 35rem;
                            }
                        }
                        div.cont-oficina {
                            iframe {
                                width: 38rem;
                                height: 30rem;
                            }
                        }
                    }
                }
            }
        }
        //footer
        footer.pieDePagina {
            .cont-footer {
                div.cont_pieDePagina {
                    width: 100%;
                    div.form-sub {
                        justify-content: center;
                        p.p2-footer {
                            font-size: 20px;
                            line-height: 28px;
                            text-align: center;
                        }
                        form.form-foot {
                            input.input-formulario {
                                width: 455px;
                            }
                            button.btn-send {
                                width: 455px;
                                margin-bottom: 0;
                            }
                        }
                    }
                    div.div-footer-contact {
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        p.parrafo_footer {
                            font-size: 24px;
                            line-height: 40px;
                        }
                        ul.ul-boton {
                            margin-bottom: 0;
                            li.link_nav_contacto {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
                div.div-footer-links {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    a.link-pol-de-priv h3 {
                        font-size: 18px;
                        line-height: 32px;
                    }
                    a.links-footer {
                        font-size: 18px;
                        line-height: 32px;
                    }
                }
            }
        }
        main#main-pol-de-priv {
            margin: 2rem 4rem;
        }
    }
}
@media (min-width: 1318px) {
    body {
        header {
            nav.contenedor {
                margin: 0 9.7rem;
            }
        }
        //index
        main#main_index {
            p.parrafo-index {
                display: none;
            }
            div.cont-btn {
                display: none;
            }
            .subtitulos-index{
                margin: 3rem 9.7rem;
            }
            div.cont-img-index {
                display: flex;
                flex-direction: column;
                align-items: center;
                img.img-index-d {
                    position: relative;
                    z-index: -1;
                    width: 80%;
                    max-width: 85rem;
                    display: block;
                }
                .cont-parrafos-index-d {
                    position: absolute;
                    width: 75%;
                    max-width: 80rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    p.parrafo-index-d {
                        margin-top: 1rem;
                        width: 35%;
                        display: inline;
                        @include parrafos (24px, 40px);
                    }
                    p.parrafo-index-d2 {
                        width: 35%;
                        display: inline;
                        @include parrafos (24px, 40px);
                    }
                    div.cont-btn-d {
                        display: flex;
                        justify-content: center;
                        margin: 1.5rem;
                        a {
                            text-decoration: none;
                            button.btn-index {
                                @include boton;
                            }
                        }
                    }
                }
            }
            img.img-index-t {
                display: none;
            }
            .mySwiper {
                margin: 0 7rem 1.5rem;
                width: calc(100vw - 17rem);
                overflow: hidden;
            }
        }
        //SOBRE NOSOTROS
        main#main-SobreNosotros {
            div.cont-sobre-nosotros-iframe {
                display: flex;
                justify-content: center;
                div#cont-iframeYText {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-left: 9.7rem;
                    margin-right: 9.7rem;
                }
            }
            p.p2-SN {
                margin: 1.5rem 9.7rem 0.5rem 9.7rem;
                @include parrafos (24px, 40px);
            }
            p.p2-SN2 {
                margin: 0 9.7rem 1.5rem 9.7rem;
                @include parrafos (24px, 40px);
            }
            h2.h2-SN {
                margin: 1.5rem 9.7rem;
                @include subtitulos (700, 32px, 40px);
            }
            h2.h2-SN-2 {
                margin: 1.5rem 9.7rem 0 9.7rem;
                @include subtitulos (700, 32px, 40px);
            }
            #sw2, #sw1{
                margin: 0 7rem 0 7rem;
                width: calc(100vw - 17rem);
                overflow: hidden;
            }
        }
        //contact
        main#main-contacto {
            section {
                div.tab-content {
                    margin: 2rem 9.7rem;
                    div.tab-pane {
                        form {
                            div.cont-input {
                                justify-content: space-between;
                            }
                            div.contenedor-btn-form {
                                div.cont-btn {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer.pieDePagina {
            .cont-footer {
                margin: 0 9.7rem;
            }
        }
    }
}
@media (min-width: 1600px) {
    body {
        //index
        main#main_index {
            .mySwiper {
                display: none;
            }
            #testimony-content {
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                .content-card-testimony {
                    margin: 0 9.7rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 1.5rem;
                    .card-testimony {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 22.5rem;
                        height: auto;
                        background: $color-slide;
                        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
                        border-radius: 44px;
                        img.img-testimony {
                            margin: 1.5rem;
                            width: 13.5rem;
                        }
                        .p-slide-testimony {
                            @include p-slide-testimonio;
                            margin: 1.5rem;
                            height: 23rem;
                        }
                        .p-slide-test-name {
                            @include p-slide-test-name;
                            margin: 1.5rem;
                            display: flex;
                            justify-content: end;
                        }
                    }
                }
            }
        }
        //SOBRE NOSOTROS
        main#main-SobreNosotros {
            div.cont-sobre-nosotros-iframe {
                display: flex;
                justify-content: center;
                div#cont-iframeYText {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-left: 9.7rem;
                    margin-right: 9.7rem;
                }
            }
            p.p2-SN {
                margin: 1.5rem 9.7rem 0.5rem 9.7rem;
                @include parrafos (24px, 40px);
            }
            p.p2-SN2 {
                margin: 0 9.7rem 1.5rem 9.7rem;
                @include parrafos (24px, 40px);
            }
            h2.h2-SN {
                margin: 1.5rem 9.7rem;
                @include subtitulos (700, 32px, 40px);
            }
            h2.h2-SN-2 {
                margin: 1.5rem 9.7rem 0 9.7rem;
                @include subtitulos (700, 32px, 40px);
            }
            #sw2, #sw1{
                margin: 0 7rem 0 7rem;
                width: calc(100vw - 17rem);
                overflow: hidden;
                #swiperWrapper1 {
                }
            }
        }
    }
}