@import "variables";

body main#main-nuestrosSeguros {
    h1.titulo-nuestrosSeguros {
        margin: 1.5rem 0;
        @include titulos(26px, 40px);
    }
    .img-seguros {
        width: 100%;
    }
    .img-seguros-d {
        display: none;
        width: 100%;
    }
    .img-seguros-t {
        display: none;
        width: 100%;
    }
    .p-NS{
        margin: 1.5rem;
        text-align: center;
        @include parrafos(20px, 30px);
    }

    #section-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        // CARD
        .mycard {
            background: #2B529F;
            width: 342px;
            height: 224px;
            border-radius: 44px;
            overflow: hidden;
            .card-on {
                opacity: 100%;
                transition: 0.5s;
                .cont-card-on {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    .card-img {
                        display: none;
                        position: absolute;
                        width: 342px;
                    }
                    .card-img-phone {
                        position: absolute;
                        width: 342px;
                    }
                    .logo {
                        position: relative;
                        height: 2rem;
                        top: 180px;
                        margin-right: 0.5rem;
                    }
                    .title-card {
                        @include title-card;
                        top: 180px;
                        position: relative;
                    }
                }
            }
            .card-off {
                opacity: 0%;
                transition: 0.3s;
                .cont-card-off {
                    display: none;
                    .cont-titulo {
                        display: flex;
                        .logo2 {
                            margin-bottom: 1rem;
                            height: 32px;
                            margin-right: 0.5rem;
                        }
                        .title-card {
                            margin-bottom: 1rem;
                            @include title-card;
                        }
                    }
                    .text-card {
                        @include txt-card;
                    }
                }
                .cont-btn-card {
                    display: none;
                }
            }
        }
        .info {
            .card-on {
                opacity: 0%;
                transition: 0.5s;
                .cont-card-on {
                    display: none;
                }
            }
            .card-off {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                opacity: 100%;
                transition: 0.5s;
                .cont-card-off {
                    margin: 1rem 1rem 0 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                }
                .cont-btn-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 1rem;
                    .btn-card {
                        padding: 16px 24px;
                        width: 288px;
                        height: 56px;
                        background: $color-boton-resaltado;
                        border-radius: 28px;
                        @include btn-card;
                    }
                }
            }
        }
    }
}