@import "variables";

body main#main-nuestrosSeguros {
    section {
        div {
            button {
                .img1 {
                    width: 15rem;
                }
            }
            button :focus {
                img.img1 {
                    transform:scaleY(0.05);
                }
            }
            img.img2 {
                width: 15rem;
                position: relative;
            }
        }
    }

    p {
        button.btn {
            height: auto;
        }
        button.btn:not(.collapsed) {
            img {

                transform:scaleY(0.05);
            }
        }
    }
}