@import "variables";

body {
    main#main-pol-de-priv {
        margin: 1rem;
        .estilo_select-pol-de-priv {
            margin: 1rem;
            padding: 0.4rem;
            border: 1px solid #6FD1FF;
            background: transparent;
            border-radius: 8px;
            font-family: 'Lexend';
            color:$color-texto-header;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            option.option_select {
                background: $color-option-select-lng;
            }
        }
    }
}