@import "variables";

body header.navbar-expand-lg nav.contenedor div.estilo_recuadro_offcanvas div.offcanvas-body div.cont-lng-selector {
    display: flex;
    justify-content: center;
    select.estilo_select {
        width: 5.5rem;
        height: 3rem;
        padding: 0.4rem;
        border: 1px solid #6FD1FF;
        background: transparent;
        border-radius: 8px;
        font-family: 'Lexend';
        color:$color-texto-header;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        option.option_select {
            background: $color-option-select-lng;
        }
    }
}