.swiper {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img.margen {
        margin-left: 1rem;
        min-width: 250px;
        max-width: 296px;
        height: auto;
        object-fit: cover;
        display: block;
    }
    img.estilo2 {
        display: block;
        margin-left: 1rem;
        min-width: 250px;
        max-width: 296px;
        height: auto;
        object-fit: cover;
    }
    div.estilo3 {
        width: 12.5rem;
        display: inline-block;
        object-fit: cover;
    }
    div.margen {
        width: 12.5rem;
        display: inline-block;
        margin-left: 1rem;
        object-fit: cover;
    }
}
