@import "variables";

body main#main-SobreNosotros { 
    h1.h1-SN {
        margin: 1.5rem;
        @include titulos(26px, 40px);
    }
    p.p1-SN {
        margin: 1.5rem 1.5rem 0.5rem 1.5rem;
        @include parrafos (16px, 30px);
    }
    p.p1-SN2 {
        margin: 0 1.5rem 1.5rem 1.5rem;
        @include parrafos (16px, 30px);
    }
    h2.h2-SN {
        margin: 1.5rem;
        @include subtitulos (700, 22px, 32px);
    }
    div.swiper{
        div.swiper-wrapper{ 
            div.swiper-slide {
                div.margen, div.estilo3 {
                    width: 200px;
                    height: 260px;
                    background: $color-slide;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 24px;
                    div.div-slide1{
                        padding-top: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        .logo-slide {
                            width: auto;
                            height: 107px;
                        }
                        .subtitulo-valores {
                            margin-top: 1rem;
                            font-style: normal;
                            font-family: 'Lexend';
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 40px;
                            text-align: center;
                            color: $color-azul;
                        }
                        .texto-valores {
                            padding: 0 1.5rem;
                            font-style: normal;
                            font-family: 'Lexend';
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 28px;
                            text-align: center;
                            color: $color-azul;
                        }
                    }
                }
            }
            div.swiper-slide.sw2 {
                height: 200px;
                div.div-slide-SN1 {
                    width: auto;
                    height: 144px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 24px;
                    img.img-slide2 {
                        width: 12.5rem;
                    }
                }
            }
        }
    }
    p.p2-SN {
        @extend p.p1-SN;
    }
    p.p2-SN2 {
        @extend p.p1-SN2;
    }
    h2.h2-SN-2 {
        margin: 1.5rem 1.5rem 0 1.5rem;
        @include subtitulos (700, 22px, 32px);
    }
}