
$color-texto-header: #F1FAFF;
$color-option-select-lng: #141956;

$color-principal-header: #179BD0;
$color-principal-contenedores: #BED4FF;
$color-boton-resaltado: #F39100;
$color-fondo-footer: #2B529F;
$color-fondo-slide: #BED4FF;

$color-blanco: #FAFAFA;
$color-negro: #000112;


@mixin link-nav {
    font-family: 'Lexend';
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: $color-texto-header;
    text-decoration: none;
}
@mixin boton_contacto_animated {
    text-align: center;
    width: 12.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    background-color:$color-boton-resaltado;
    border-radius: 50px;
    display: inline-block;
    animation: link_contacto 1.5s linear infinite;
    
}
@mixin boton {
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 50px;
    background-color: $color-boton-resaltado;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F1FAFF;
}
@mixin boton-sendYreset ($colorDeFondo, $text-color) {
    height: 3.5rem;
    width: 100%;
    display: inline-block;
    border-radius: 28px;

    background-color: $colorDeFondo;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $text-color;
    border: $color-boton-resaltado 4px solid;
}
@mixin boton-llamarYwsp ($colorDeFondo, $text-color) {
    height: 3.5rem;
    width: 100%;
    display: inline-block;
    border-radius: 28px;

    background-color: $colorDeFondo;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $text-color;
    text-transform: uppercase;
    border: $color-boton-resaltado 4px solid;
}
@mixin estilo-texto-footer ($font-size, $line-height){
    color: $color-texto-header;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: $font-size;
    line-height: $line-height;
    text-decoration: none;
    text-align: center;
}
@mixin estilo-link-footer {
    color: $color-texto-header;
    font-family: 'Lexend';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
}
@mixin link-contact {
    font-family: 'Lexend';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: $color-texto-header;
}
@mixin links-tab-content ($font-size, $font-weight) {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 40px;
    color: $color-negro;
}
@mixin label-form ($font-size) {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: $font-size;
    line-height: 40px;
    color: $color-negro;
}
@mixin titulos {
    color: $color-negro;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}
@mixin subtitulos ($font-weight, $line-height) {
    color: $color-negro;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: $font-weight;
    font-size: 24px;
    line-height: $line-height;
}
@mixin parrafos {
    color: $color-negro;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}